@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@mixin d-flex-column {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}
@mixin d-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
@mixin d-flex-start {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
$backgrounColor: rgb(75, 75, 75);
$textColor: rgb(255, 255, 255);
$textColorHovered: #ffd700;
$buttonColor: #9b3543;
$buttonColorHovered: #490c14;
$inputColor: rgb(220, 220, 220);
* {
	font-family: 'Montserrat', sans-serif;
}
.app {
	position: relative;
	@include d-flex-column;
	min-width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}
.section {
	width: 100%;
	padding: 15px;
}
.header {
	background-color: $backgrounColor;
}
.header__title {
	font-size: 30px;
	font-weight: 500;
	text-transform: capitalize;
	text-align: center;
	color: $textColor;
}
.main {
	flex: auto;
}
.btn {
	font-size: 18px;
	color: $textColor;
	background-color: $buttonColor;
	transition: all 0.2s;
	cursor: pointer;
	&:hover {
		background-color: $buttonColorHovered;
	}
}
.btn_open {
	@include d-flex-center;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}
.form {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	@include d-flex-column;
	max-width: 300px;
	overflow: hidden;
	transform: scale(auto);
	background-color: #fff;
	opacity: 1;
	border-radius: 5px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	transition: all 0.3s;
	cursor: grab;
}
.btn_close {
	position: absolute;
	top: 0;
	right: 0;
	@include d-flex-center;
	width: 30px;
	height: 30px;
	i {
		pointer-events: none;
	}
}
.form-title {
	width: 100%;
	margin: 20px 0;
	padding: 10px 40px 10px 20px;
	font-size: 24px;
	text-transform: capitalize;
}
.form-item {
	position: relative;
	width: 100%;
	padding: 20px;
}
.item-checkbox {
	position: relative;
	@include d-flex-start;
	padding: 10px 20px 30px 20px;
	&.checked {
		.castom-checkbox {
			&::after {
				opacity: 1;
			}
		}
		.label-checkbox {
			font-weight: normal;
			color: $inputColor;
		}
	}
	.castom-checkbox {
		position: absolute;
		@include d-flex-center;
		width: 20px;
		height: 20px;
		border: 2px solid $backgrounColor;
		cursor: pointer;
		&::after {
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			background-color: $buttonColor;
			opacity: 0;
			transition: all 0.2s;
		}
	}
	.label-checkbox {
		padding: 0 30px;
		font-weight: 500;
		transition: color 0.2s;
		user-select: none;
		cursor: pointer;
	}
}
.input {
	width: 100%;
	padding: 5px;
	font-size: 16px;
	background-color: $inputColor;
	&:focus + .label,
	&:not(:placeholder-shown) + .label {
		top: 10px;
		left: 20px;

		font-size: 12px;
	}
}
.label {
	position: absolute;
	top: 50%;
	left: 25px;
	margin-top: -8px;
	font-size: 16px;
	transition: all 0.2s ease-in-out;
	pointer-events: none;
}
.btn_submit {
	width: 100%;
	padding: 10px;
}
.hide {
	transform: translate(-50%, -50%) scale(0, 0);
	opacity: 0;
}
